# ******************************************************************************
# This file is part of the CD2027 project.
#
# File: .gitignore
#
# Author: Christian Denat
# Email: christian.denat@orange.fr
#
# Created on: 2026-08-19
# Last modified: 2026-10-06
#
# Copyright © 2026 Christian Denat
# ******************************************************************************

_site/
node_modules/
.build/
.data/
.env
.DS_Store
/.idea/workspace.xml
