# ******************************************************************************
# This file is part of the CD2027 project.
#
# File: deploy/cd2027-auth/.htaccess
#
# Author: Christian Denat
# Email: christian.denat@orange.fr
#
# Created on: 2026-10-02
# Last modified: 2026-10-04
#
# Copyright © 2026 Christian Denat
# ******************************************************************************

RewriteEngine On

# Do not allow requests to execute or download the gate directly.
RewriteCond %{THE_REQUEST} \s/+@@CD2027_GATE_REGEX@@(?:[?\s]) [NC]
RewriteRule ^@@CD2027_GATE_REGEX@@$ - [F,L]

# Route every page and asset through the WordPress administrator check.
RewriteRule ^@@CD2027_GATE_REGEX@@$ - [END]
RewriteRule ^.*$ @@CD2027_GATE_FILE@@ [END,QSA]
