{#
 * This file is part of the CD2027 project.
 *
 * File: src/_includes/includes/page-hero.njk
 *
 * Author: Christian Denat
 * Email: christian.denat@orange.fr
 *
 * Created on: 2026-10-02
 * Last modified: 2026-10-02
 *
 * Copyright © 2026 Christian Denat
#}

<header class="page-hero{% if not wp.image %} page-hero--plain{% endif %}">
  {% if wp.image %}<img class="page-hero__image" src="{{ wp.image }}" alt="" decoding="async" fetchpriority="high" />{% endif %}
  <div class="page-hero__content content-width wa-stack"><div class="page-hero__spacer" aria-hidden="true"></div><h1>{{ wp.titleText }}</h1></div>
</header>
