---
layout: layouts/base.njk
eleventyComputed:
  title: "{{ wordpress.home.titleText }}"
  description: "{{ wordpress.home.descriptionText or wordpress.home.excerptText or site.description }}"
  canonicalUrl: "{{ wordpress.home.link }}"
  image: "{{ wordpress.home.image or site.logo }}"
---
{#
 * This file is part of the CD2027 project.
 *
 * File: src/index.njk
 *
 * Author: Christian Denat
 * Email: christian.denat@orange.fr
 *
 * Created on: 2026-08-19
 * Last modified: 2026-10-02
 *
 * Copyright © 2026 Christian Denat
#}

<div class="wordpress-home cd-content">
  {{ wordpress.homepageHtml | safe }}
</div>
