---
layout: layouts/wordpress.njk
pagination:
  data: wordpress.pages
  size: 1
  alias: wp
permalink: "{{ wp.outputPath }}"
eleventyComputed:
  title: "{{ wp.yoast_head_json.title if wp.yoast_head_json else wp.titleText }}"
  description: "{{ wp.descriptionText or wp.excerptText or site.description }}"
  canonicalUrl: "{{ wp.link }}"
  image: "{{ wp.image or site.logo }}"
---
{#
 * This file is part of the CD2027 project.
 *
 * File: src/pages.njk
 *
 * Author: Christian Denat
 * Email: christian.denat@orange.fr
 *
 * Created on: 2026-10-02
 * Last modified: 2026-10-02
 *
 * Copyright © 2026 Christian Denat
#}
