{#
 * This file is part of the CD2027 project.
 *
 * File: src/robots.txt.njk
 *
 * Author: Christian Denat
 * Email: christian.denat@orange.fr
 *
 * Created on: 2026-10-02
 * Last modified: 2026-10-02
 *
 * Copyright © 2026 Christian Denat
#}

User-agent: *
Allow: /
Sitemap: {{ site.origin }}/sitemap.xml
